@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
  --color-primary: #f3640b;
  --color-secondary: #00897b;
  --color-third: #003f91;
  --color-hover: #035e5e;
  --color-op: #6e6b7b;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-primary:hover {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}
.text-secondary:hover {
  color: var(--color-hover) !important;
}

.text-third {
  color: var(--color-third) !important;
}

.text-hover {
  color: var(--color-hover) !important;
}

.text-op {
  color: var(--color-op) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}
.bg-primary:hover {
  background-color: var(--color-primary) !important;
}
.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.bg-secondary2 {
  background-color: var(--color-hover) !important;
}

.bg-third {
  background-color: var(--color-third) !important;
}

.bg-op {
  background-color: var(--color-op) !important;
}


@import './metronic/css/styles.css';
@import './metronic/css/demos/demo1.css';

/* Keenicons */
@import './metronic/vendors/keenicons/duotone/style.css';
@import './metronic/vendors/keenicons/filled/style.css';
@import './metronic/vendors/keenicons/outline/style.css';
@import './metronic/vendors/keenicons/solid/style.css';
